::selection {
    background-color: rgb(188, 0, 45);
    color: white;
}

::-moz-selection {
    background-color: rgb(188, 0, 45);
    color: white;
}

/** BODY **/

body {
    color:#333333;
}

/** HEADER **/

header {
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(to right, #fff, #eee, #eee, rgb(188, 0, 45), rgb(188, 0, 45), #eee, #eee, #fff);
    border-image-slice: 1;
}

header > div {
    display:flex;
    justify-content: space-around;
}

.burger-menu {
    visibility: hidden;
    text-align: center;
    margin:25px;
    margin-bottom: 10px;
}

.burger-menu h4 {
    margin:10px;
}

.burger-menu span {
    font-size: 36px;
    padding: 0px 10px;
    padding-top: 4px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
    border-radius: 5px;
    cursor:pointer;
}

header h1 {
    text-align: center;
    height: fit-content;
    padding:10px 25px;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.8);
    cursor:pointer;
}

/** MAIN **/

#main-elements {
    width:80%;
    display:flex;
    flex-direction: column;
    align-items: center;
    margin:15px auto;
    margin-top: 0;
}

#japan-flag svg {
    filter: drop-shadow(0 0 10px rgba(188, 0, 45, 0.7));
}

#verb-conjugation {
    width:50%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

#verb-properties {
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    padding:10px;
    border-radius: 5px;
    position:relative;
}

#verb-properties span {
    padding: 8px 12px;
    font-size: 20px;
    color: black;
    text-align: center;
    border: 1px solid #ccc;
    background-color: white;
    border-radius: 3px;
    margin:0 5px;
    cursor:help;
    transition: background-color 0.3s ease;
    position: relative;
}

#verb-properties span:hover {
    background-color: rgba(188, 0, 45, 0.3);
}

#verb-properties span::after {
    content: attr(data-tooltip);
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    color:white;
    padding:5px 10px;
    border-radius: 3px;
    font-size: 14px;
    white-space: nowrap;
    top:-100%;
    left:50%;
    transform:translateX(-50%);
    opacity:0;
    pointer-events:none;
    transition: opacity 0.3s ease;
}

#verb-properties span:hover::after {
    opacity: 1;
}

#the-verb {
    width:50%;
    display:flex;
    justify-content: center;
    align-items: center;
    padding:25px 100px;
    margin:20px;
    border:1px solid;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.8);
}

#the-verb span {
    font-size: 40px;
    text-align: center;
}

#user-guess {
    display:flex;
    justify-content: center;
    align-items: center;
    width:75%;
    margin:10px;
    text-align: left;
}

#user-guess input {
    font-size: 24px;
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#user-guess input::placeholder {
    font-size: 16px;
    color: #999;
}

#notification {
    display: none;
    position: absolute;
    background-color: rgba(188, 0, 45, 0.9);
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease;
}

#conjugation-result {
    width:50%;
    text-align: center;
    visibility: hidden; /* By default, has to be hidden */
    background-color: #c3e6cb; /* Wrong answer: #ecbdc9 | Right answer : #c3e6cb  */
    box-shadow: 0px 0px 5px #218838; /* Wrong answer: #bc002d | Right answer : #218838 */
    padding: 5px 15px;
}

#conjugation-result :nth-child(2) {
    margin-top: 10px;
    color: #555;
}

#options {
    border: 1px solid black;
    border-radius: 10px;
    width: 50%;
    margin-top: 50px;
    margin-bottom: 10px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    margin:0;
    background-color: #e0e0e0;
    border-radius: 10px;
}

.table-header > span {
    margin-right: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider-switch {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #bbb;
    border-radius: 34px;
    transition: .4s;
}

.slider-switch:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: .4s;
}

input:checked + .slider-switch {
    background-color: #BC002D;
}

input:checked + .slider-switch:before {
    transform: translateX(26px);
}

.options-table {
    table-layout: fixed;
    display:none;
    width: 100%;

    th, td {
        display:none;
    }

    tr td:nth-child(-n+3),
    tr th:nth-child(-n+3) {
        display:table-cell;
    }

}

.options-table td {
    padding: 5px 10px;
    text-align: left;
    word-wrap: break-word;
}

.options-table th,
.options-table td {
    padding: 8px;
    text-align: left;
    border: 1px solid rgba(217, 217, 217, 0.5);
    border-radius: 10px;
}

.options-table tr:nth-child(odd) {
    background-color: #f9f9f9;
}

.options-table tr:nth-child(even) {
    background-color: #ffffff;
}

#options-info {
    display: none;
}

.table-slider {
    width:max-content;
    margin: 10px auto;
    margin-bottom: 100px;
}

.slider {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    height: 5px;
    background: #bab8b8;
    outline: none;
    opacity: 0.7;
    transition: opacity .2s;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
    display:none;
}

.slider:hover {
    opacity: 1;
    background: linear-gradient(to right, #BC002D 0%, #ccc 0%);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #BC002D;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #bbb;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.slider::-webkit-slider-thumb {
    box-shadow: 0 0 10px rgba(188, 0, 45, 0.7);
}

.slider:hover::-webkit-slider-thumb {
    box-shadow: 0 0 10px rgba(188, 0, 45, 0.7);
}

/** FOOTER **/

footer {
    background-color: #FFFFFF;
    color: #333333;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer nav ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

footer nav ul li {
    display: inline;
    margin: 0 10px;
}

footer nav ul li a {
    text-decoration: none;
    color: #333333;
    font-size: 18px;
    transition: color 0.3s ease;
}

footer nav ul li a:hover {
    color: #BC002D;
}

.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Fond semi-transparent */
    z-index: 9999;
}

.lightbox-content {
    background-color: white;
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.lightbox-content h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
}

.lightbox-content p {
    font-size: 1.2rem;
    line-height: 1.6;
}

.lightbox-content button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
}

.lightbox-content button:hover {
    background-color: #0056b3;
}

/** BURGER MENU **/

.menu-burger {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.menu-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

.menu-content h3 {
    margin-top: 0;
}

.menu-content ul {
    list-style-type: none;
    padding: 0;
}

.menu-content ul li {
    margin-bottom: 10px;
}

.menu-content ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}

/** REPONSIVE **/

/** Screen smaller than 1000px **/
@media (max-width: 1000px) {
    #main-elements {
        width: 90%;
    }

    #verb-conjugation {
        width: 80%;
    }

    #conjugation-result {
        width:80%; 
    }

    #user-guess input {
        width: 100%;
    }
}

/** Mobile screen **/
@media (max-width: 600px) {
    #verb-conjugation {
        width: 90%;
    }
}